**/.DS_Store

**/.editorconfig

**/.eslintignore
**/.eslintrc

**/.prettierignore
**/.prettierrc

**/node_modules/
**/node_modules_linux/

**/Dockerfile
**/.dockerignore

**/.git
**/.gitignore

**/*.md
**/LICENSE

**/.vscode
